.left-col {
    background: #fff;
    width: 300px;
    position: fixed;
    opacity: 1;
    transition: all .2s ease-in;
    height: 100%;
    z-index: 999;
}

.top {
    height: 180px;
    background: #4d4d4d;
}

.bottom{
    height:calc(100% - 180px);
}
